html
  head
  body
    h1 Stores
    h2= "We currently have #{stores.length} stores"
    table
      tr
        th Name
        th Address
      //- each store in stores
      //-   tr
      //-     td= lala



